.adding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main .m-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #eee;
  padding-left: 20px;
}

.main .m-header label {
  font-size: 25px;
  display: flex;
}

.main .m-header label input {
  flex: 1;
  border: none;
  outline: none;
  background: #eee;
  padding-left: 20px;
}

.main .m-header label input::-webkit-input-placeholder {
  font-size: 20px;
}

.main .button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px 0;
}

.main .list {
  flex: 1;
  overflow-y: auto;
}
